<div class="left">
    <div class="byDate">
      <div class="today">
          <a href="/admin/report">
              <button class="leftButton <%= clicked==="Yes" ? "on" : "" %>" type="button">
                  <i class="fa fa-calendar"></i>
                  Report
              </button>
          </a>
      </div>
    </div>
</div>