<div class="left">
  <div class="byDate">
    <div class="today">
      <button class="leftButton" type="button">
        <i class="fa fa-calendar"></i>
        Today
        <span class="toBeDone">7</span>
      </button>
    </div>
    <div class="tommorow">
      <button class="leftButton" type="button">
        <i class="fa fa-list-ul"></i>
        Tommorow
        <span class="toBeDone">7</span>
      </button>
    </div>
    <div class="archieve">
      <button class="leftButton" type="button">
        <i class="fa fa-list-ul"></i>
        Archieve
        <span class="toBeDone">7</span>
      </button>
    </div>
    <div class="all">
      <button class="leftButton" type="button">
        <i class="fa fa-list-ul"></i>
        All
        <span class="toBeDone">7</span>
      </button>
    </div>
  </div>
  <div class="line">
    <hr />
  </div>
  <div class="byTag">
    <div class="hometag">
      <button class="leftButton" type="button">
        <i class="fa fa-list-ul"></i>
        Home
        <span class="toBeDone">7</span>
      </button>
    </div>
    <div class="personaltag">
      <button class="leftButton" type="button">
        <i class="fa fa-list-ul"></i>
        Personal
        <span class="toBeDone">7</span>
      </button>
    </div>
    <div class="officetag">
      <button class="leftButton" type="button">
        <i class="fa fa-list-ul"></i>
        Office
        <span class="toBeDone">7</span>
      </button>
    </div>
  </div>
</div>
